@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Body styles */
    margin: 0;
    font-family: "Arial", sans-serif;
    background-color: #f4f4f9;
    color: #333;
    --primary-color: #2E8B57;
    /* Dark green */
    --button-color: #4682B4;
    /* Steel blue */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.header {
    background-color: #000;
    /* Black background */
    color: #fff;
    height: 100vh;
    /* Full screen height */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center content horizontally */
}

.container {
    width: 80%;
    margin: 0 auto;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.intro-text {
    max-width: 50%;
    /* Adjust max-width for better spacing */
    font-family: "Montserrat", sans-serif;
}


.intro-text h1 {
    font-size: 2.5em;
    /* Larger font size */
    margin: 0;
    /* font-family: "Poppins", sans-serif; */
}

.intro-text p {
    font-size: 1.2em;
}

.buttons {
    opacity: 0;
    margin-top: 30px;
}

.rounded-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    /* Darker text color */
    transition: background-color 0.3s, color 0.3s;
}

.rounded-btn:hover {
    background-color: #9a9996;
    color: #fff;
}


.intro-image {
    max-width: 40%;
    /* Adjust max-width for better spacing */
    display: flex;
    justify-content: center;
    margin-right: 5%;
    /* Move the image slightly to the left */
}

.profile-pic {
    display: block;
    border-radius: 15px;
    /* Slightly rounded corners */
    width: 250px;
    /* Adjust image size */
    height: 250px;
}

main {
    padding: 20px 0;
}

section {
    margin-bottom: 40px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header {
        height: 100vh;
        /* Full screen height for mobile */
    }

    .intro {
        flex-direction: column;
        text-align: center;
    }

    .intro-image {
        order: -1;
        /* Move the image to the top */
        margin-right: 0;
        /* Remove margin for mobile */
        margin-bottom: 20px;
        /* Space between image and text */
        max-width: 100%;
        /* Ensure the image does not exceed container width */
    }

    .intro-text {
        max-width: 100%;
    }

    .intro-text h1 {
        font-size: 2em;
        /* Smaller font size for mobile */
    }

    .profile-pic {
        width: 200px;
        /* Adjust image size for mobile */
        height: 200px;
    }

    .btn {
        margin-bottom: 10px;
        /* Space between buttons on mobile */
    }

    .rounded-btn {
        margin-right: 5px;
    }
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-visible {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    /* Adjust transition duration */
}

footer {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    letter-spacing: 2px;
    line-height: 150%;
    font-weight: bold;
}

main {
    padding: 40px 0;
}

header {
    background-color: #000;
    color: #fff;
    padding: 15px 0;
    text-align: left;
}

header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

header .logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    font-family: "Kalam", cursive;
}

.about-black-region {
    background-color: #000;
    color: #fff;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-black-region h1 {
    font-family: "Poppins", sans-serif;
    ;
}

.bio {
    font-family: "Open Sans", sans-serif;
}

.skills,
.hobbies,
.expreiences,
.reach-me-at {
    margin-bottom: 40px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
}

.skills,
.hobbies,
.expreiences,
.reach-me-at h2 {
    font-family: "Montserrat", sans-serif;

}
.skills .skill-list li {
    padding: 5px;
    border-radius: 5px;
}

.experience {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.experience-title {
    font-size: 1.3em;
    font-weight: bold;
}

.experience-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.experience-duration {
    font-size: 1em;
    color: #888;
}

.experience-company {
    font-size: 1em;
    font-style: italic;
    margin-top: 0.7em;
}


.experience-button {
    background-color: var(--button-color);
    /* Use custom button color */
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1em;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

/* Ensure the button expands horizontally */
.experience-button {
    flex-grow: 1;
    margin-left: 10px;
    /* Adjust margin as needed */
}

.experience-list li {
    padding: 5px;
    border-radius: 5px;
}

.social-buttons {
    display: flex;
}

.social-button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

.social-button:hover {
    background-color: #f0f0f0;
    /* Change to a subtle blue color */
    color: #333;
    /* Adjust text color for better contrast */
}