@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Body styles */
    margin: 0;
    font-family: "Arial", sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.header {
    background-color: #000;
    /* Black background */
    color: #fff;
    height: 100vh;
    /* Full screen height */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center content horizontally */
}

.container {
    width: 80%;
    margin: 0 auto;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.intro-text {
    max-width: 50%;
    /* Adjust max-width for better spacing */
}


.intro-text h1 {
    font-size: 2.5em;
    /* Larger font size */
    margin: 0;
    /* font-family: "Poppins", sans-serif; */
}

.intro-text p {
    font-size: 1.2em;
}

.buttons {
    opacity: 0;
    margin-top: 30px;
}

.rounded-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 7.5px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    /* Darker text color */
    transition: background-color 0.3s, color 0.3s;
}

.rounded-btn:hover {
    background-color: #9a9996;
    color: #fff;
}


.intro-image {
    max-width: 40%;
    /* Adjust max-width for better spacing */
    display: flex;
    justify-content: center;
    margin-right: 5%;
    /* Move the image slightly to the left */
}

.profile-pic {
    display: block;
    border-radius: 15px;
    /* Slightly rounded corners */
    width: 250px;
    /* Adjust image size */
    height: 250px;
    background-size: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.profile-pic.loaded {
    opacity: 1;
}

main {
    padding: 40px 0;
}

section {
    margin-bottom: 40px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header {
        height: 100vh;
        /* Full screen height for mobile */
    }

    .intro {
        flex-direction: column;
        text-align: center;
    }

    .intro-image {
        order: -1;
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 100%;
    }

    .intro-text {
        max-width: 100%;
    }

    .intro-text h1 {
        font-size: 2em;
    }

    .profile-pic {
        width: 200px;
        height: 200px;
    }

    .btn {
        margin-bottom: 10px;
    }

    .rounded-btn {
        margin-right: 5px;
    }
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-visible {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    letter-spacing: 2px;
    line-height: 150%;
    font-weight: bold;
}


header {
    background-color: transparent;
    color: #000;
    padding: 15px 0;
    text-align: left;
    opacity: 0;
    transition: background-color 0s ease, opacity 1s ease;
}

header.show {
    background-color: #000;
    opacity: 1;
}

header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

header .logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    font-family: "Kalam", cursive;
}

.black-region {
    background-color: #000;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: height 1s ease, opacity 1s ease;
}


.black-region h1 {
    font-family: "Poppins", sans-serif;
    ;
}

.fade-in-page-title {
    opacity: 0;
    transition: opacity 1s ease;
}

.fade-in-page-title.show {
    opacity: 1;
}

p {
    line-height: 150%
}

.skills,
.hobbies,
.expreiences,
.reach-me-at {
    margin-bottom: 40px;
    text-align: left;
}

.skills,
.hobbies,
.expreiences,
.reach-me-at p {
    line-height: 150%
}

.skills .skill-list li {
    padding: 5px;
    border-radius: 5px;
}

.experience {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.experience-title {
    font-size: 1.3em;
    font-weight: bold;
}

.experience-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.experience-duration {
    font-size: 1em;
    color: #888;
}

.experience-company {
    font-size: 1em;
    font-style: italic;
    margin-top: 0.7em;
}


.experience-button {
    background-color: #6495d5;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.experience-button {
    flex-grow: 1;
    margin-left: 10px;
}

.experience-list li {
    padding: 5px;
    border-radius: 5px;
}

.social-buttons {
    display: flex;
}

.social-button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

.social-button:hover {
    background-color: #f0f0f0;
    color: #333;
}

.pr-container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.project {
    position: relative;
    flex-direction: column;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.project:hover {
    transform: scale(1.05);
}

.project-info {
    overflow: visible;
    /* Allow buttons to overflow */
}

.project h2 {
    font-weight: bold;
    margin-bottom: 10px;
    max-width: 80%;
    white-space: normal;
    margin-top: 10px;
}

.short-description {
    cursor: pointer;
}

.full-description {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    margin-top: -15px;
}

.project-image {
    position: absolute;
    top: 15px;
    right: 20px;
    max-width: 60px;
    max-height: 60px;
    border-radius: 5px;
    transition: transform 0.3s ease;
    height: 55px;
    width: 55px;
}

@media (min-width: 850px) {
    .pr-container {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 849px) {
    .pr-container {
        display: block;
    }
}

@media (max-width: 400px) {
    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Center the content */
    }

    .project-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Center the content */
    }

    .project-image {
        position: static;
        order: -1;
        max-width: 60px;
        max-height: 60px;
        margin-bottom: 10px;
        display: block;
    }

    .project h2 {
        text-align: center;
    }
}

.project-button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

.project-buttons:hover {
    background-color: #f0f0f0;
    color: #333;
}

.tag {
    display: inline-block;
    background-color: #f4f4f9;
    color: #333;
    padding: 2px 8px;
    border: 1px solid rgba(51, 51, 51, 0.5);
    border-radius: 12px;
    font-size: 12px;
    font-family: Arial, sans-serif;
}
